.features {
  display: flex;
  width: 100%;
  justify-content: center;
}

.featurePng {
  height: 12rem;
  width: 12rem;
}

.feature {
  padding-top: 2rem;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  background-color: #121212;
  height: 20rem;
}

.featureButton {
  border-width: 0px;
  border-style: none;
  border: none;
  color: black;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin: 4px 5px;
  cursor: pointer;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

.featureText {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.box {
  width: 12rem;
  height: 20rem;
}
